[MODELINFO]
config_path = ./model_data/config/yolov3.cfg
weights_path = ./persondetectapp/src/model_data/config/yolov5s.onnx
class_path = ./persondetectapp/src/model_data/config/classes.txt
img_size = 640
conf_thres = 0.4
nms_thres = 0.4
score_thres=0.25
width=640
height=640

[CAMERAINFO]
protocol = rtsp
user = root
password = admin
default_ip_add = rtsp://root:admin@10.202.109.131/axis-media/media.amp

[MODBUSINFO]
#host = 192.168.200.131
host = 127.0.0.1
port = 5020
#port = 502

